In [1]:
from pyspark.sql import SparkSession

In [2]:
# creating a session 

spark = SparkSession.builder.appName('Basics').getOrCreate()

22/05/31 20:43:51 WARN Utils: Your hostname, pop-os resolves to a loopback address: 127.0.1.1; using 192.168.8.100 instead (on interface wlp1s0)
22/05/31 20:43:51 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/abdullah/spark/spark-3.2.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/31 20:43:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# reading files 

df = spark.read.json('people.json')

In [4]:
# showing the dataframe 
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
# dataframe schema 

df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.columns

['age', 'name']

In [7]:
"""
This how we use describe in spark 

"""

df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [8]:
"""
sometimes we need to inforce what the schema is
for example: in order to do a certin operations, 
the schema has to be correct
"""
from pyspark.sql.types import (StructField,
                              StringType,
                              IntegerType , 
                              StructType )

In [9]:
"""
Infer the schema we want
True = means the column is nullable 
"""
data_schema = [ StructField('age' , IntegerType(), True),
                StructField('name' , StringType(), True)]

In [10]:
final_strcut = StructType(fields=data_schema)

In [11]:
"""
reading the file again with infer schema 

"""

df = spark.read.json('people.json' , schema= final_strcut)

In [12]:
# checking the schema 

df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

Select vs grap data

In [13]:
df['age']

Column<'age'>

In [14]:

# a column object 

type(df['age'])

pyspark.sql.column.Column

In [15]:
"""
if we want to the dataframe we use select

"""

df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [16]:
"""
checking the first two rows 

"""
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [17]:
df.head(2)[0]

Row(age=None, name='Michael')

In [18]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [19]:
"""

selecting a list of dataframe

"""

df.select(['age' , 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [20]:
"""
using with column and withcolumnrenamed methods

"""
df.withColumn('newage' , df['age']*2).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [21]:
df.withColumnRenamed('age' , 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

Using Pure SQL

In [22]:
"""
creating a view from dataframe to use sql with
"""

df.createOrReplaceTempView('people')

In [23]:
results = spark.sql("""

                    SELECT * 
                    FROM people
                    
                    """)

In [24]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [25]:
new_results = spark.sql("""
                        SELECT * 
                        FROM people 
                        WHERE age = 30;
                        """)

In [29]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [26]:
spark.stop()